[flake8]
# Plugins
import-order-style = google

# Ignore specific errors or files
ignore = E302, E402
exclude = .git,__pycache__,venv,test_env

# Specify the maximum line length
max-line-length = 127
